* {
	padding:0;
	margin:0;
	scroll-behavior:smooth;
}
		
body {
	background:;
	color:white;
	background-size:cover;
	box-sizing:border-box;
}
		
.header-section, .header-section2 {
	width:100%;
	height:100vh;
	position:relative;
}
		

.header-section2 {
	background:url("pic2.jpg");
	background-position:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
		
.header-section {

	background:black;
}
		
nav {
	width:100%;
	height:70px;
	background:rgba(0,0,0,0.5);
	display:flex;
	justify-content:;
	align-items:center;
	position:fixed;
	top:0;
	user-select:none;
	-webkit-user-select:none;
	-o-user-select:none;
	z-index:1;
}
		
nav h5 {
	color:white;
	font-weight:bold;
	font-size:14px;
	font-family: 'Redressed', cursive;
	margin:5px 15px;
}

#birthday-text {
	animation:blink2 1.8s linear infinite;
}
		
@keyframes blink2 {
	0%{color:#B33030;},
	25%{color:wheat;},
	50%{color:steelblue;},
	75%{color:orange;},
	100%{color:seagreen;}
}		
		
audio {
	width:50%;
	background:white;
	border:2px solid white;
	margin-left:5px;
	border-radius:19px;
	position:fixed;
	top:5px;
	right:15px;
	animation:shake 0.5s linear infinite;
	animation-delay:0.5s;
}
		
		
@keyframes shake {
	0%{
		border:2px solid pink;
		box-shadow:0 0 10px steelblue, 0 0 15px steelblue;
	},
			
	100%{
		border:2px solid steelblue;
		box-shadow:0 0 10px steelblue;
			
	}
}
		
		
.text-div {
	margin:auto;
	width:90%;
	height:100vh;
	color:white;
	font-family: 'Redressed', cursive;
	overflow:wrap;
	display:flex;
	justify-content:center;
	align-items:center;
}
		
		
.text-div h1 {
	padding:20px;
	border:2px solid white;
	background:rgba(0,0,0,0.5);
	border-radius:0 20px 0 20px;
}
		
		
.body-div {
	margin-top:290px;
}
		
		
.from-who-section {
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	font-family:cursive;
	margin-bottom:100px;
}

.from-who-section div:nth-child(2) {
	color:steelblue;
	font-weight:bold;
	font-size:18px;
	margin:10px 0;
	font-family:'Festive', 'cursive';
}


.pic {
	width:200px;
	height:200px;
	margin:auto;
	margin-bottom:;
	border:2px solid gray;
        box-shadow:0 0 10px black;
	background:url("profile8.jpg");
	background-size: cover;
	background-position:center;
	border-radius:50%;
}

		
.text {
	margin:auto;
	width:70%;
	color:#2B2929;
	font-family: 'Lobster', cursive;
	font-size:16px;
}

.picture-gallery {
	margin-top:120px;
	display:flex;
	flex-wrap:wrap;
	box-sizing:border-box;
}
		
.picture-gallery img {
	width:50%;
	border:1.5px solid white;
	background-size:cover;
	background-position:center;
	box-sizing:border-box;
	animation:glow 5s ease infinite;
}


@keyframes glow {
	from {
		border:1px solid white;
		box-shadow:0 0 10px white, 0 0 20px white;
	}
	
	to{
		border:1px solid pink;
		box-shadow:0 0 10px pink, 0 0 20px pink;
	}
}


footer {
	width:100%;
	height:550px;
	padding:20px;
	box-sizing:border-box;
	margin-top:100px;
	font-family:'Roboto', san-serif;
	background:linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.5)), url("pic2.jpg");
	background-size:cover;
	z-index:2;
}
		

.link-to-work {
	margin:80px 10px;
	padding:10px;
	background:steelblue;
	font-weight:bold;
	color:white;
	border-radius:8px;
	display:inline-block;
}

.contact-us  {
	color:white;
	font-weight:bold;
}

#contact-text {
	margin:10px;
}


a {
	text-decoration:none;
	color:white;
	margin-top:10px;
}

a div span {
	margin:10px;
}
.copyright {
	text-align:center;
	color:white;
	margin-top:160px;
}



